---
import Layout from '../../layouts/Layout.astro';

import Mountains from '../../components/Mountains';

import mountains from '../../contents';
---

<Layout>
  <div class="grid grid-cols-4">
    <Mountains mountains={mountains} />
  </div>
</Layout>
