---
import Layout from '../../layouts/Layout.astro';

import Mountains from '../../components/Mountains';

import mountains from '../../contents/mountains';
import { sortByAttribute } from '../../helpers';
---

<Layout>
  <div class="grid grid-cols-4 gap-3">
    <Mountains mountains={mountains} />
  </div>
</Layout>
