---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
  <main>
    <h1 class="text-3xl font-bold underline">Deporeibar Baietz 312</h1>
  </main>
</div>
